@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root
{
    /* Colors */
    --dark-grayish-blue: hsl(217, 19%, 35%);
    --dark-desaturated-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    /* Font-sizes */
    --header-size: 1rem;
    --paragraph-size: 0.815rem;

    /* Sizes */
    --card-width: 20rem;
}

*
{
    margin: 0;
    padding: 0;

    font-family: "Manrope", sans-serif;
}

body
{
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--light-grayish-blue);
}

article#card
{
    margin: 1rem;

    width: var(--card-width);

    display: flex;
    flex-direction: column;

    gap: 1rem;

    border-radius: 10px;

    background-color: white;
}

div#card-image
{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    height: 13rem;
    display: flex;
}

div#card-image img
{
    width: 100%;
    height: auto;

    object-fit: cover;
    object-position: 0 10%;

    border-radius: inherit;

    aspect-ratio: 16/9;
}

div#card-content
{
    display: flex;
    flex-direction: column;

    justify-content: center;

    border-radius: inherit;

    gap: 0;
}

div#card-info
{
    display: flex;
    flex-direction: column;

    padding: 1rem 2rem 1rem 2rem;

    gap: 1rem;

    h1.card-header
    {
        color: var(--dark-grayish-blue);

        font-size: var(--header-size);
        font-weight: 700;

        line-height: 150%;
    }

    p.card-paragraph
    {
        color: var(--dark-desaturated-blue);
    
        font-size: var(--paragraph-size);
        font-weight: 500;

        line-height: 160%;
    }
}

div#bottom-section
{
    position: relative;
    border-radius: inherit;
}

div#author
{
    display: flex;
    align-items: center;

    gap: 1rem;

    padding: 1rem 2rem 1rem 2rem;
    
    img#author-image
    {
        width: 2.5rem;
        height: 2.5rem;
        aspect-ratio: 1/1;

        border-radius: 50%;
    }

    h1#author-name
    {
        color: var(--dark-grayish-blue);
        display: flex;
        flex-direction: column;
    
        line-height: 150%;

        font-weight: 700;
        font-size: var(--paragraph-size);
    }

    h1#author-name:after
    {
        content:"28 Jun 2020";

        font-weight: 500;
        font-size: var(--paragraph-size);

        color: var(--grayish-blue);
    }
}

div#pop-up
{
    position: absolute;

    width:var(--card-width);

    bottom: 0;

    display: flex;
    align-items: center;

    gap:1rem;

    padding: 1.5rem 0;

    background-color: var(--dark-grayish-blue);
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;

    h1#share-header
    {
        margin-left: 2rem;
        color: var(--grayish-blue);

        letter-spacing: 40%;
        text-transform: uppercase;
        font-weight: 500;
        font-size: var(--paragraph-size);
    }
}

button#share-button
{
    position: absolute;
    bottom: 25%;
    right: 10%;
    display: flex;

    width: auto;
    height: 2rem;

    aspect-ratio: 1/1;

    border-radius: 50%;
    border: 0;

    padding: .55rem;

    background-color: var(--light-grayish-blue);

    img
    {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }
}

.hidden
{
    position: absolute;
    display: none;
    visibility: hidden;
}

.animation
{
    animation: pop-up .1s;
}

.inverted-colors
{
    --light-grayish-blue: var(--dark-desaturated-blue);

    img
    {
        filter: brightness(500%);
    }
}

@keyframes pop-up 
{
    from
    {
        scale: 0.9;
        opacity: 0%;
    }
    
    to
    {
        scale: 1;
        opacity: 100%;
    }
}


/* Desktop query */

@media (min-width: 64rem) 
{

    :root
    {
        --header-size: 1.3rem;
        --paragraph-size: 0.9rem;
    }

    article#card
    {
        flex-direction: row;

        width: 50rem;
        height: 20rem;
        padding-right: 2rem;
    }

    div#card-image
    {
        width: 54rem;
        height: inherit;
    }

    div#pop-up
    {
        width: 18rem;
        bottom: 5rem;
        right: -16.5%;

        border-radius: 12px;

        justify-content: left;
    }

    div#pop-up > h1#share-header
    {
        padding-left: 1rem;
    }

    div#pop-up::after
    {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 100%;
        right: 42%;

	    border-left: 1rem solid transparent;
	    border-right: 1rem solid transparent;
	    border-top: 1rem solid var(--dark-grayish-blue);

        /* background-color: var(--dark-grayish-blue); */
    }
}